.main-about {
  max-width: 1200px;
  /* border: 1px solid red; */
  margin: auto;
}

.about-container {
  padding: 50px 0;
  margin-top: 40px;

}

.about-section {
  display: flex;
  gap: 60px;

}

.about-text h2 {
  margin-bottom: 15px;
}

.about-text p {
  margin-bottom: 10px;
  line-height: 1.6;
  color: rgba(48, 53, 43, 0.884);
}

.profile-image-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 30px;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-text {
  
  max-width: 800px;
  margin: 20px 0;
}


.skills-section {
  margin-top: 20px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  /* Allow skills to wrap to the next line */
  justify-content: center;
  /* Center skills horizontally */
}

.skill {
  width: 200px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 25px 50px;
  border: 1px solid #ddd;
  /* Light gray border */
  border-radius: 5px;
  /* Add rounded corners */
  text-align: center;
  color: blueviolet;
  background-color: #f8f8f8;
  transition: background-color 0.3s ease;
  /* Add transition for smooth color change */
}

.skills-section h2 {
  text-align: center;
  
}

.contact-info h2 {
  text-align: center;
}

.skill:hover {
  background-color: rgb(225, 223, 226);
  transform: translateY(-2px);
  /* Slight lift on hover */
}


.skill-name {
  margin-bottom: 5px;
  font-weight: bold;

}




.contact-info {
  margin-top: 30px;
}

.contact-info h2 {
  margin-bottom: 20px;
}

.contact-info ul {
  list-style: none;

}

.contact-info li {
  display: flex;
  /* Add display: flex; */
  justify-content: space-between;
  /* Add space between label and value */
  margin-bottom: 5px;
  background-color: #f8f8f8;
  /* Light gray background */
  padding: 12px;
  color: #2f6196;

}


.contact-info a {
  color: #007bff;
  text-decoration: none;
}

@media(max-width:767px) {
  .main-about {
    padding: 10px;
  }
  .profile-image-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin:auto;
    background-color: red;
  }
  
  .about-section {
    flex-direction: column;
    gap: 20px;

  } 

  .contact-info li {
    font-size: 10px;
    margin-right: 20px;
    margin-left: 0px;
  }

  .skill {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 25px 50px;
    border: 1px solid #ddd;
    /* Light gray border */
    border-radius: 5px;
    /* Add rounded corners */
    text-align: center;
    background-color: #f8f8f8;
    transition: background-color 0.3s ease;
    /* Add transition for smooth color change */
  }
}