.footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo h2 {
  font-size: 24px;
  font-weight: bold;
  color: #ff7b00;
}

.social-links_footer a {
  color: white;
  font-size: 24px;
  margin: 0 10px;

  transition: color 0.3s;
}



.contact p {
  margin: 5px 0;
  font-size: 14px;
  opacity: 0.8;
}
